extend index

block page
	h4 THE NEW YORK CONSERVATORY FOR DRAMATIC ARTS
	p
		| is an institutionally accredited member of The National Association of Schools of Theatre (NAST), meets the eligibility requirements of the U.S. Department of Education in Washington D.C. and is approved for participation in selected Title IV student aid programs. Financial aid is available for eligible students enrolled in the Professional Training Programs. NYCDA is a chartered college in New York State. NYCDA has been comprehensively evaluated and has met or exceeded the established standards of the New York State Board of Regents and has been authorized to offer an Associate in Occupational Studies (AOS) degree program in Film and Television Performance. The degree program is listed in the New York State Inventory of Registered Programs.

	p
		| NYCDA’s programs of education are approved by the State of New York Division of Veterans’ Affairs for the training of veterans and other eligible persons. The school is authorized under federal immigration law to enroll non-immigrant students.