extends index

block page
	p
		|Each year at NYCDA, we travel and search for the most passionate and promising young actors around the country. It's a lot of work, but truly a labor of love. Whether at thespian festivals, our audition cities or here at NYCDA, we see and audition thousands of students, but ultimately allow a select few into our acting school. Here, you'll find an environment with faculty and staff who take the success of every student personally. We understand that you're entrusting us with your dream, and we take that responsibility seriously. We invite you to discover a blend of advantages unmatched anywhere in the world.

	ol
		li 
			span WE'RE HIGHLY SELECTIVE
				p
					| Many performing arts schools accept anyone who pays the tuition, diluting the training for those with real potential. Last year, we saw and auditioned thousands of students around the country and the world, before enrolling a select few. That means you don't have to share space, resources or the attention of your teachers with students who aren't qualified to be here. Acting experience isn't required, but talent and passion are a must.

		li 
			span YOU'LL TRAIN IN THE HEART OF NEW YORK CITY
				p
					| Among professionals, New York City is considered the most respected actor training center in our country, and everything is here to enlighten and inspire you. On any street, at any time of the year, you can stumble on the lights, cameras and buzz of a movie, commercial or television show in production. The soul of the business is all around us, and you can be a part of it. Through outside internships, school events and daily class work, you'll sharpen your craft and build your skills in the very best training ground in the world.

		li 
			span OUR FACULTY AND STAFF TAKE THE SUCCESS OF EVERY STUDENT PERSONALLY
				p
					| Our faculty and staff are completely focused on your success, getting to know your personality, strengths and areas most in need of development. You also rehearse and perform in class with peers who are motivated, talented and as serious about learning as you are. And our limited enrollment keeps our student-teacher ratio in the neighborhood of 16:1. As a result, you can expect to be on-camera almost every day, and on the radar screen of your teacher in every class. It's not uncommon for one of our faculty to call a casting director or other industry contact on behalf of a promising student.

		li 
			span YOUR TEACHERS ARE WORKING PROFESSIONALS AND TRULY PLUGGED-IN TO THE INDUSTRY
				p
					| Acting is not a static business. If actors aren't involved, they fall behind. So we believe it's important that all our teachers also be working professionals - pros who bring their energy, up-to-the-minute insights and wisdom to class every day. That means their real-life experience one day can be part of what you learn the very next day.

		li 
			span THE LARGEST INDEPENDENT CASTING FACILITY ON THE EAST COAST IS IN OUR BUILDING
				p
					| Every day, top casting directors audition professional actors for feature film, TV shows and commercials right here in the same place where you go to class! As an NYCDA student, you are exposed to the process, the inner workings of the business and the casting directors themselves. Through student internships, relationships are often formed with the independent casting directors you see here in our halls every day. This kind of exposure is invaluable and not available anywhere else.

		li 
			span YOU GRADUATE CAREER-READY, WITH TRAINING IN BOTH THE ART AND BUSINESS OF ACTING
				p
					| Acting is both an art and a business, so we train you extensively in both. Our acting training is built on the Meisner approach. In Platform Year, your course load integrates voice, film studies and improvisation with physical movement and camera work. Film and Television Year moves to the realities of on-camera media, from film to prime time to soap opera to commercials. In both years you'll also learn a range of practical skills that every working actor must know - from writing an effective résumé to the nuances of on-set etiquette. In two demanding, satisfying years you'll graduate fully prepared to perform confidently and professionally in every role of your career.

		li 
			span YOU CAN EARN AN ASSOCIATES DEGREE IN FILM AND TELEVISION PERFORMANCE
				p
					| NYCDA offers an Associate in Occupational Studies (AOS) degree program in Film and Television Performance. The degree program is listed in the New York State Inventory of Registered Programs. 
		li 
			span YOU CAN CONTINUE YOUR EDUCATION AND PURSUE A BACHELOR'S DEGREE
				p
					| Qualified Conservatory graduates who wish to obtain a Bachelor's Degree may be able to take advantage of our articulation agreements with the Theater Program of the Department of Performing Arts at Adelphi University in Garden City, New York and the School of Theater Arts and Dance at the University of Northern Colorado at Greeley. The credit-transfer agreement that NYCDA has with the University of West Florida additionally offers NYCDA graduates the opportunity to pursue a BA in Theatre with specialization in Acting. Again, many other institutions also accept some or all of our credits when transferring in.

		li 
			span YOU'LL LEARN THE FUNDAMENTALS ALONG WITH THE DISTINCTIVE NEEDS OF ELECTRONIC MEDIA
				p
					| Our mission is to give students a foundation in acting technique based in the traditional methods necessary for stage performance, and integrate it with the performance art forms of film and television. The specialization required by on-camera genres moves beyond the traditional interpretation of dramatic action and literature, into the distinctive needs of adjusting performance methods to electronic media. NYCDA's objective is to train the artist in a systematic approach to acting, while providing an education and understanding of the technical and professional demands of these fast paced and profitable venues.

		li 
			span ACCREDITATION
				p
					| The New York Conservatory for Dramatic Arts is an institutionally accredited member of the National Association of Schools of Theatre and is chartered as a college by New York State.