extends index

block page
	p
		|While the principles of great acting don't change, the realities of the film and TV business do - continuously. So actors and teachers who don't stay current are quickly left behind. As a student at NYCDA, you learn in a dynamic, intimate setting from faculty who are more than just knowledgeable and passionate mentors; they're also working professionals - pros who bring their up-to-the-minute knowledge, experience and connections to you in class, every day.

	p
		|Overall direction flows from seven master teachers who work both as department heads and class instructors. They work closely with the adjunct faculty, whose expertise in specific disciplines transcends acting to include dance, directing, casting and producing. All are available to students, inside and outside the classroom, for personal advice and direction. Because part of our mission is to expose you to the diverse realities of our industry, we also regularly bring in accomplished guest instructors to give seminars. You will have opportunities to meet and learn from industry leaders, including directors, talent agents, casting directors, managers, producers and cinematographers, as well as actors. Recent guest lecturers have included Academy Award winners Alan Ball and Olympia Dukakis.

	each person in faculty
		dl
			dt
				h4= person.firstName + ' ' + person.lastName
				h5= person.title
				dd
					p= person.bio