extends index

block page
	h4 OUR MISSION
	p
		| The New York Conservatory for Dramatic Arts is an institution dedicated to excellence, innovation, and artistic expression. Our practical, relevant, and rigorous arts education aspires to liberate talent through craft, preparing actors to succeed in today’s professional world and richly participate in the human journey.