.sideNav
  ul#sub-nav
    li
      a(href='/about/advantage') Our Advantages
    li
      a(href='/about/mission') Mission
    li
      a(href='/about/accreditation') Accreditation
    li
      a(href='/about/degree-granting') Associates Degree
    li
      a(href='/about/faculty') Meet our Faculty
    li
      a(href='/') Directions