footer
	ul#contact-info
		li#email
			a(href='mailto:info@sft.edu?subject=SFT Information Request') info@sft.edu
		li#phone 888.648.0030
		li#address
			address 39 West 19th Street, New York, NY 10011
	
	#copyright(class='text-right')
	
	ul#site-info
		li
			a(href='/sitemap') Site Map
		li
			a(href='/legal') Legal Information
		li.last
			a(href='/privacy-policy') Privacy Policy