header
	#logo
		a(href='/')
			img(src='../images/graphics/NYCDALogo.png')
	#navButtons
		ul
			li#degree_btn
				img(src='../images/graphics/1RC.jpg')
				a(href='#') Get Your Degree
			li#audition_btn
				img(src='../images/graphics/2RC.jpg')
				a(href='#') Book Your Audition
			li#account_btn
				img(src='../images/graphics/3RC.jpg')
				a(href='#') My<br>Account
			li#request_btn
				img(src='../images/graphics/4RC.jpg')
				a(href='#') Request<br> Info
					