header
	#logo
		a(href='/')
			img(src='../images/graphics/NYCDA_logo.jpg')
	#navButtons
		ul
			li
				a(href='#')
					img(src='../images/graphics/1R.jpg')
			li
				a(href='#')
					img(src='../images/graphics/2R.jpg')
			li
				a(href='#')
					img(src='../images/graphics/3R.jpg')
			li
				a(href='#')
					img(src='../images/graphics/4R.jpg')