.sideNav
  ul#main-nav
    li
      a(href='/about') About Us
    li
      a(href='/') Professional<br>Training Programs
    li
      a(href='/') Summer Program
    li
      a(href='/') Apply Now
    li
      a(href='/') Audition Schedule
    li
      a(href='/') Scholarships +<br>Financial Aid
    li
      a(href='/') Alumni
    li
      a(href='/') Request Information
    li
      a(href='/') Student Services
    li
      a(href='/') General Information /<br>Policies
    li
      a(href='/') Acting Tips
    li
      a(href='/') Contact Us
    li
      a(href='/') Job Seekers
    li
      a(href='/') Online Store